{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["import", "immutable"],
  "rules": {
    // Add your custom rules here
    "import/no-unresolved": "warn",
    "import/named": "warn",
    "import/default": "warn",
    "immutable/no-let": "warn",
    "immutable/no-this": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "react-hooks/exhaustive-deps": "warn",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
      "typescript": {
        "alwaysTryTypes": true, // Always try to resolve types under `@types` directory even it doesn't contain any source code, like `@types/unist`
      },
    },
  },
}
